
/*
    Colors:
    ---------------------------------------------------------------------------
      blue:           rgba(25,162,162,1)
      dk blue:        rgba(8,120,120,1)
      white:          rgba(249,248,248,1)
      heading grey:   rgba(88,87,89,1)
      copy grey:      rgba(102,101,103,1)
      nav grey:       rgba(166,165,167,1)

*/


@font-face {font-family: 'AdriannaDemiBold'; src: url('../fonts/Adrianna-DemiBold-webfont.eot'); src: url('../fonts/Adrianna-DemiBold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Adrianna-DemiBold-webfont.woff') format('woff'), url('../fonts/Adrianna-DemiBold-webfont.ttf') format('truetype'), url('../fonts/Adrianna-DemiBold-webfont.svg#AdriannaDemiBold') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'AdriannaRegular'; src: url('../fonts/Adrianna-Regular-webfont.eot'); src: url('../fonts/Adrianna-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Adrianna-Regular-webfont.woff') format('woff'), url('../fonts/Adrianna-Regular-webfont.ttf') format('truetype'), url('../fonts/Adrianna-Regular-webfont.svg#AdriannaRegular') format('svg'); font-weight: normal; font-style: normal;}


/* --- the @gleuch default setup - updated 2012-10-02 ------------------------- */
html, body, header, hgroup, nav, article, section, details, aside, footer, figure, figcaption, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
header, hgroup, nav, article, section, details, aside, footer {display: block;}
param {display: none;}
html, body {height: 100%;}
html * {text-rendering: optimizeLegibility;}


body {line-height: 1.0em; font-size: 62.5%; margin: 0; padding: 0; background: rgba(249,248,248,1);}
body ::selection {background: rgba(25,162,162,.24); color: rgba(88,87,89,1); text-shadow: 0 1px 1px rgba(249,248,248,.72);}
dl dt {font-weight: bold;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse; border-spacing: 0; font-size: 1.0em;}
thead, tbody, tr, th, td {font-size: 1.0em; line-height: 1.0em;}
body, h1, h2, h3, h4, h5, h6, input, select, textarea {font-family: Helvetica, Arial, sans-serif; line-height: 1.2em;}
h1, h2, h3, h4, h5, h6, input, select, textarea, p, blockquote, li, dt, dd {letter-spacing: 0;}
p, blockquote, li, dt, dd {font-size: 1.3em; font-family: Helvetica, Arial, sans-serif; color: #222; line-height: 1.25em;}
code {display: block; font-size: 1.3em; color: #404040; line-height: 1.25em;}
blockquote p, blockquote blockquote, li li, p code {font-size: 1.0em;}
dt {font-weight: bold;}

a {color: rgba(25,162,162,1); text-decoration: none;}
a:focus, a:hover {color: rgba(8,120,120,1);}

h1, h2, h3, h4, h5, h6 {color: rgba(88,87,89,1); font-family: 'AdriannaDemiBold', Helvetica, Arial, sans-serif; letter-spacing: -.05em;}
h1 {font-size: 2.8em; font-weight: 600;}
h2 {font-size: 2.4em; font-weight: 600;}
h3 {font-size: 2.2em; font-weight: 600;}
h4 {font-size: 2.0em; font-weight: 600;}
h5 {font-size: 1.8em; font-weight: 600;}
h6 {font-size: 1.6em; font-weight: 600;}
p {color: rgba(102,101,103,1); letter-spacing: -.05em;}



/* 
  THESE ARE RESERVED CLASSNAMES:
  -----------------------------------------------------------------------------
  .w = page wrapper
  .c = clearfix(:after)
  .l = float left
  .r = float right
  .b = bold
  .nb = not bold (normal)
  .i = italic
  .rel = relative
  .abs = absolute

*/


/* --- DEFAULT STYLES --------------------------------------------------------- */

.hide {display: none;}
.l {clear: none; float: left;}
.r {clear: none; float: right;}
.c {clear: both; float: none;}
.rel {position: relative;}
.abs {position: absolute; z-index: 2;}
.c:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.sanserif {font-family: Helvetica, Arial, sans-serif;}
.serif {font-family: "Times New Roman", Times, Georgia, sans-serif;}
.b {font-weight: bold;}
.nb {font-weight: normal;}
.i {font-style: italic;}
.tl {text-align: left;}
.tr {text-align: right;}
.tc {text-align: center;}
.vb {vertical-align: bottom;}
.vm {vertical-align: middle;}
.vt {vertical-align: top;}
.vl {vertical-align: baseline;}
.to {text-overflow: ellipsis; overflow-x: hidden; -ms-text-overflow: ellipsis;}
.to.nw {white-space: nowrap; overflow-y: hidden;}
.dc {text-transform: lowercase;}
.uc {text-transform: uppercase;}

i.icon {display: inline-block; text-indent: -9999px; font-style: normal; background: url(../images/assets.png) 150px 150px no-repeat;}
i.icon.logo {width: 102px; height: 38px; background-position: 0 0;}
a:hover i.icon.logo {background-position: 0 -38px;}
i.icon.twitter {width: 16px; height: 15px; background-position: -102px 0;}
a:hover i.icon.twitter {background-position: -102px -15px;}

p.large {font-size: 1.7em;}
p.large.serif.lt_grey {color: rgba(102,101,103,.82);}


/* --- STRUCTURE STYLES ------------------------------------------------------- */

#template_wrapper {position: relative; margin: 0; padding: 0; min-height: 100%;}

#template_static_bar {position: fixed; left: 0; top: 0; bottom: 0; width: 5px; background-color: rgba(25,162,162,1);}

#header {position: absolute; top: 22px; left: 30px;}
#header h1 {}
#header h1 a {}
#header ul {margin: 0; padding: 9px 0 0 21px; list-style: none;}
#header ul li {padding: 0 0 4px 0; margin: 0; color: rgba(166,165,167,1); text-transform: lowercase; font-size: 2.0em; line-height: 1.2em; font-family: 'AdriannaRegular', Helvetica, Arial, sans-serif;}
#header ul li a {color: rgba(166,165,167,1); font-weight: 500;}
#header ul li a:hover {color: rgba(25,162,162,1); -webkit-transition: color .2s ease-in;}
#header ul li.selected a {color: rgba(25,162,162,1);}

#content {width: 700px; min-height: 250px; padding: 68px 0 51px 250px; margin: 0;}
#content p {padding: 0 0 8px 0; line-height: 1.4em;}
#content .intro {padding: 0 0 16px 0; margin: 0 0 18px 0; border-bottom: 1px solid rgba(69,68,68,.12);}
#content .intro h1 {padding: 0 0 2px 0; font-size: 3.2em;}
#content .intro h4 {padding: 0 0 2px 0; color: rgba(102,101,103,.82); font-size: 2.4em; font-family: 'AdriannaRegular', Helvetica, Arial, sans-serif;}
#content .intro p {padding: 0 0 2px 0; font-size: 1.7em;}

#sidebar {clear: none; float: left; width: 150px; padding: 250px 0 0 51px; margin: 0 0 51px 0;}
#sidebar .box {padding: 24px 0 0 0;}
#sidebar .box:first-child {padding: 0;}
#sidebar .box h4 {padding: 0 0 4px 0; color: rgba(25,162,162,1); font-size: 1.7em; line-height: 1.2em; text-transform: lowercase;}
#sidebar .box p {padding: 0 0 4px 0; color: rgba(166,165,167,1); font-size: 1.2em; line-height: 1.4em;}
#sidebar .box a.grey, #sidebar .box span.grey {color: rgba(166,165,167,1);}
#sidebar .box a.grey:hover {color: rgba(25,162,162,1);}
#sidebar .box ul {list-style: none; margin: 0; padding: 0;}
#sidebar .box ul li {padding: 0 0 3px 0; margin: 0;}

#footer {position: absolute; bottom: 24px; left: 51px;}
#footer p {font-size: 1.0em; color: rgba(166,165,167,1); line-height: 1.3em;}



/* --- PAGE SPECIFIC ---------------------------------------------------------- */
body.contact #sidebar .box span.grey {display: inline-block; width: 37px;}